<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-user" aria-hidden="true"></span> Profile</h1>
    <div style="padding-bottom: 10%">
        <div class="row">
            <div class="col-sm-9" style="border-right:2px solid black">
                <div class="col-xs-3">ID:</div> <div class="col-xs-6"><%= user._id %></div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9" style="border-right:2px solid black">
                <div class="col-xs-3">Name: </div> <div class="col-xs-6"><%= user.local.name %></div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9" style="border-right:2px solid black">
                <div class="col-xs-3">E-Mail: </div> <div class="col-xs-6"><%= user.local.email %></div>
            </div>
            <div class="col-sm-3" >
            </div>
        </div>
    </div>
</div>