<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-twitter" aria-hidden="true"></span> Profile</h1>
    <div style="padding-bottom: 10%">
        <div class="row">
            <div class="col-sm-8" style="border-right:2px solid black">
                <div class="col-xs-3">ID:</div> <div class="col-xs-6"><%= user.twitter.id %></div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8" style="border-right:2px solid black">
                <div class="col-xs-3">Name: </div> <div class="col-xs-6"><%= user.twitter.username %></div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8" style="border-right:2px solid black">
                <div class="col-xs-3">DisplayName: </div> <div class="col-xs-6"><%= user.twitter.displayName %></div>
            </div>
           
        </div>
    </div>
</div>