<!-- views/index.ejs -->
<% include partials/head %>
<% include partials/navbar %>
    <div class="jumbotron text-center">
        <h1>Welcome to restrace</h1>
    </div>
<% include partials/footer %>